.mbtn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: 2.25rem;
  color: #fff;
  background-color: #f791cb;
  border-color: #f791cb;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .26);
}

.mbtn:hover {
  background-color: #e47ab6;
  border-color: #e47ab6;
  color: #f8f8f8;
}

.btn-position {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.top {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  .mbtn {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 4.25rem;
  }

  .material-icons {
    font-size: 2.2rem !important;
    padding: 0.5rem;
  }

  /*
<div class=btn-position>
    <a href="#">
      <button type="button" class="mbtn">
        <i class="material-icons top">arrow_upward</i>
      </button>
    </a>
</div>
*/